<form method="POST" action="<%= u 'delayed/search' %>">
  Class <input type='input' name='search' value="<%= params[:search] %>"/> <br>
  Priority <input type='input' name='priority' value="<%= params[:priority] %>"/> <br>
  User id <input type='input' name='user_id' value="<%= params[:user_id] %>"/> <br>
  <input type='submit' value='Search'/>
</form>




